body{
    margin: 0;
    padding 0;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

nav{
    background: rgba(255, 255, 255, 0.744);
     backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 15px; 
    color: black;
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.071);

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.iphone{
    width: 100%;
    height: fit-content;
    padding-top: 4%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background: #f5f5f7;
}

.iphone img{
    height: 400px;
    width: 100%;
    margin-top: 50px;
    object-fit: cover;  
    object-position: top;
}

.iphone h1{
    font-size: 60px;
}

.iphone p{
    font-size: 27px;
    margin-top: -20px;
}

.btn_cnt a{
    text-decoration: none;
    padding: 1% 2%;
    border-radius: 50px;
    font-size: 17px;
}

.kidney{
    color: white;
    background: rgb(81, 81, 255);
}

.money{
    border: 1px solid rgb(81, 81, 255);
    color: rgb(81, 81, 255);
    transition: background 0.2s, color 0.2s;
}

.money:hover{
    background:rgb(81, 81, 255);
    color: white;
}

.ipad{
    width: 100%;
    text-align: center;
}

.ipad h1{
    font-size: 60px;
}

.ipad p{
    margin-top: -20px;
    font-size: 27px;
}

.ipad img{
    height: 400px;
    width: 70%;
    object-fit: cover;
    margin-top: 20px;
    object-position: top;
}

.sec3_cnt{
    display: flex;
    flex-direction: row;
    width: 98%;
    gap: 1%;
    padding: 1%;
}

.apple_fitness{
    width: 50%;
    background: #e6e6e6;
    text-align: center;
}

.apple_fitness h1{
    font-size: 40px;
}

.apple_fitness p{
    font-size: 22px;
    margin-top: -20px;    
}

.apple_fitness img{
    width: 100%;
    height: 70%;    
    object-fit: cover;
    margin-top: 10px;
}

.apple_fitness a{
    font-size: 20px;
}

.macbook{
    width: 50%;
    color: white;
    background: black;
    text-align: center;
}

.macbook img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: top;
    margin-top: 10px;
}

.macbook h1{
    font-size: 40px;
}

.macbook p{
    font-size: 22px;
    margin-top: -20px;
}

.macbook a{
    font-size: 20px;
}

.sec4_cnt{
    display: flex;
    flex-direction: row;
    width: 98%;
    padding: 1%;
    gap: 1%;    
}

.watch{
    width: 50%;
    background: black;
    color: white;
    text-align: center;
    padding: 1%;
}

.watch p{
    margin-top: -20px;
    font-size: 22px;
}

.watch img{
    width: 100%;
    margin-top: 10px;
}

.watch a{
    font-size: 20px;
}

.airpods{
    background: #f5f5f7;
    width: 50%;
    text-align: center;
    padding: 1%;
}

.airpods p{
    margin-top: -20px;
    font-size: 22px;
}

.airpods img{
    width: 100%;
    margin-top: 10px;
}