body{
    margin: 0;
    padding 0;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

nav{
    background: rgba(255, 255, 255, 0.744);
     backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 15px; 
    color: black;
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.071);

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.iphone{
    width: 100%;
    height: fit-content;
    padding-top: 4%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background: #f5f5f7;
}

.iphone img{
    height: 400px;
    width: 100%;
    margin-top: 50px;
    object-fit: cover;  
    object-position: top;
}

.iphone h1{
    font-size: 60px;
}

.iphone p{
    font-size: 27px;
    margin-top: -20px;
}

.btn_cnt a{
    text-decoration: none;
    padding: 1% 2%;
    border-radius: 50px;
    font-size: 17px;
}

.kidney{
    color: white;
    background: rgb(81, 81, 255);
}

.money{
    border: 1px solid rgb(81, 81, 255);
    color: rgb(81, 81, 255);
    transition: background 0.2s, color 0.2s;
}

.money:hover{
    background:rgb(81, 81, 255);
    color: white;
}

.ipad{
    width: 100%;
    text-align: center;
}

.ipad h1{
    font-size: 60px;
}

.ipad p{
    margin-top: -20px;
    font-size: 27px;
}

.ipad img{
    height: 400px;
    width: 70%;
    object-fit: cover;
    margin-top: 20px;
    object-position: top;
}

.sec3_cnt{
    display: flex;
    flex-direction: row;
    width: 98%;
    gap: 1%;
    padding: 1%;
}

.apple_fitness{
    width: 50%;
    background: #e6e6e6;
    text-align: center;
}

.apple_fitness h1{
    font-size: 40px;
}

.apple_fitness p{
    font-size: 22px;
    margin-top: -20px;    
}

.apple_fitness img{
    width: 100%;
    height: 70%;    
    object-fit: cover;
    margin-top: 10px;
}

.apple_fitness a{
    font-size: 20px;
}

.macbook{
    width: 50%;
    color: white;
    background: black;
    text-align: center;
}

.macbook img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: top;
    margin-top: 10px;
}

.macbook h1{
    font-size: 40px;
}

.macbook p{
    font-size: 22px;
    margin-top: -20px;
}

.macbook a{
    font-size: 20px;
}

.sec4_cnt{
    display: flex;
    flex-direction: row;
    width: 98%;
    padding: 1%;
    gap: 1%;    
}

.watch{
    width: 50%;
    background: black;
    color: white;
    text-align: center;
    padding: 1%;
}

.watch p{
    margin-top: -20px;
    font-size: 22px;
}

.watch img{
    width: 100%;
    margin-top: 10px;
}

.watch a{
    font-size: 20px;
}

.airpods{
    background: #f5f5f7;
    width: 50%;
    text-align: center;
    padding: 1%;
}

.airpods p{
    margin-top: -20px;
    font-size: 22px;
}

.airpods img{
    width: 100%;
    margin-top: 10px;
}

.sec5_cnt{
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.trade{
    width: 50%;
    text-align: center;
}

.trade p{
    font-size: 22px;
    margin-top: -20px;
}

.trade img{
    object-fit: cover;
    object-position: top;   
    height: 450px;
    width: 100%;
    margin-top: 10px;
}

.trade a{
   font-size: 20px;
}

.card{
    width: 50%;
    text-align: center;
    background: #fafafa;
}

.card p{
    margin-top: -20px;
    font-size: 22px;
}

.card a{
    font-size: 20px;
}

.card img{
    margin-top: 60px;
    margin-left: 30px;
    object-fit: cover;
    object-position: left;
    width: 550px;
}

.footer{
    background: rgb(0, 28, 37);
    margin-bottom: 0;
    width: 96%;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 2%;
}

.footer a{
    color: rgb(74, 74, 255);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: wavy underline;
}

/* pac shop */
.shop_main_cnt{
    padding: 3% 1%;
    text-align: center;
    margin-bottom: 30px;
}

.shop_main_cnt{
    font-size: 25px;    
}

.row_cnt{
    width: 98%;
    height: 300px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.product{
    width: 25%;
    padding: 2%;
    background: linear-gradient(135deg, rgb(234, 234, 234), rgb(238, 249, 255), rgb(237, 237, 237));
    border-radius: 10px;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.265);
    height:  100%;
}

.product img{
    object-fit: scale-down;
    border-radius: 10px;
    width: 100%;
    height: 50%;
}

.product p{
    font-size: 20px;
    margin-top: -10px;
}

.product h3{
    font-size: 22px;
}

.product img{
    width: 100%;
}

.buy{
    padding: 2% 4%;
    background: rgb(51, 51, 255);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.support_main_cnt{
    padding: 3% 1%;
    width: 98%;
    text-align: center; 
    height: 51vh;
    padding-top: 8%;
    justify-items: center;
}

.support_main_cnt h1{
    font-size: 40px;  
}

.support_main_cnt p{
    margin-top: -15px;
    font-size: 23px;
}

.support_bottom_cnt{
    width: 100%;
    display: flex;
    flex-direction: row;   
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.support_bottom{
    background: rgb(245, 245, 245);
    width: auto;
    padding: 5px 20px 20px 10px;
    margin-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.212);
    border: 1px solid rgba(151, 151, 151, 0.372);
    gap: 20px;
    justify-content: center;
    cursor: pointer;
    height: fit-content;
    transition: padding 0.2s;
}

.support_bottom:hover{
    padding: 10px 25px 25px 15px;
}

.support_bottom i{
    font-size: 30px;
    margin-top: 10px;
}

#yt{
    color: red;
}

.support_bottom_right{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.support_bottom p{
    font-size: 20px;
    margin-top: 12px;
}

.support_bottom a{
    margin-top: -15px;
    padding: 1px 10px 1px 10px;
    border: 1px solid rgb(74, 74, 255);
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;    
    color: rgb(74, 74, 255);
    transition: background  0.2s, color 0.2s;
}

.support_bottom a:hover{
    background: rgb(74, 74, 255);
    color: white;
}


