body{
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: #131313;
}

/** Top Navbar **/
.topnav {
    overflow: hidden;
    background-color: rgba(19, 19, 19, 0.886); /* must be transparent */
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    backdrop-filter: blur(10px);   /* blur strength */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    width: 100%; /* optional */
    z-index: 2;
}

.menu_btn{
    background: none;
    border: none;
    padding: 7px;
    font-size: 10px;
    border-radius: 50%;
    transition: background 0.3s;
}

.menu_btn:hover{
    background: rgba(255, 255, 255, 0.1);
}

.menu_btn i{
    color: white;
}

.uppernav{
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.lowernav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 5px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.lowernav span:hover{
    background: rgb(57, 57, 57);
}

.lowernav span{
    color: white;
    background: rgba(63, 63, 63, 0.719);
    border-radius: 10px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

/** Menu (hamburger) **/
.menu_btn_cnt{
    background-color: transparent;
    width: 10%;
}

.menu_btn{
    color: black;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/** Logo **/
.logo_cnt{ 
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo_text{
    color: white;
    font-size: 28px;
    margin-left: 10px;
    align-self: center;
}

.tm{
    font-weight: 1;
}

/** Search Bar **/
.searchbar_cnt{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_input_s{
    width: 40%;
    background: rgba(31, 31, 31, 0.731);
    border-right: none;
    border-left: 1px rgba(255, 255, 255, 0.199) solid;
    border-top: 1px rgba(255, 255, 255, 0.199) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.199) solid;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    font-size: 16px;
    color: white;
    transition: border 0.3s;
}

.text_input_s:focus{
    outline: none;
    border: 1px rgba(0, 0, 255, 0.507) solid;
}

.search_btn{
    height: 100%;
    width: 7%;
    left: -10px;
    border-left: none;
    border-right: 1px rgba(255, 255, 255, 0.199) solid;
    border-top: 1px rgba(255, 255, 255, 0.199) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.199) solid;
    background: rgba(102, 102, 102, 0.479);
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    font-size: 20px;
}

.search_btn:hover{
    background: rgba(150, 150, 150, 0.479);
}

/** Profile Picture **/
.profile_cnt{
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.profile_pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px rgba(255, 255, 255, 0.372) solid;
}

/** Sidebar **/
.sidenav{
    height: 90%;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: #131313de;/*131313de*/
    overflow-x: hidden;
    transition: 0.5s;
    top: 60px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.sidenav span{
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    font-weight: 50;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
}

.sidenav span:hover{
    background: #4a4a4a59;
}

.sidenav p{
    margin: 0;
    font-size: 10px;
}

/** Main Content **/
.main_cnt {
    margin-left: 80px;
    padding: 130px 10px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 40px;
}

.web_info{
    color: gray;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
     animation: glow-text 2s ease-in-out infinite;
}

@keyframes glow-text {
    0% {
        color: 0 0 5px rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.1);
        opacity: 0.6;
    }
    50% {
        color: 0 0 10px rgba(255,255,255,0.6), 0 0 20px rgba(255,255,255,0.8), 0 0 35px rgba(255,255,255,1);
        opacity: 1;
    }
    100% {
        color: 0 0 5px rgba(255,255,255,0.2), 0 0 10px rgba(255,255,255,0.1);
        opacity: 0.6;
    }
}

.web_info a{
    color: red;
}

.web_info a:hover{
    text-decoration: wavy underline;
}

.row_vid_cnt{
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.vid_cnt{
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    top: 0;
    margin-top: 0;
    height: fit-content;
    transition: background 0.3s;
}

.videos{
    width: 350px;
    height: 140px;
    border-radius: 10px;
}

.vid_cnt:hover{
    background: rgba(70, 70, 70, 0.546);
}

.vid_below_cnt{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.yt_channel{
    border-radius: 50%;
    height: 40px;
}

.vid_h{
    font-size: 18px;
    margin: 0;
}

.channel_name{
    margin-top: 5px;
    margin-left: 14%;
    font-size: 16px;
    color: gray;
}

.videos{
    border-radius: 10px;
    height: 180px;
}

.shorts_h{
    color: white;
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shorts_icon{
    height: 25px;
    width: 20px;   
}

.shorts_row_cnt{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    width: 107%;
    height: 400px;  
}

.shorts_cnt{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: background 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 0px;
}

.shorts_cnt:hover{
    background: rgba(70, 70, 70, 0.546);
}

.shorts_vids{
    width: 100%;
    height: 320px;
    border-radius: 10px;
}

.shorts_title{
    color: white;
    font-size: 16px;
    margin-top: 0;
}

.shorts_views{
    color: rgb(171, 171, 171);
    font-size: 14px;
    margin-top: -15px;
}

.end_cnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.end_h{
    color: gray;
    text-align: center;
}

.loader {
    width: 20px;
    height: 20px;
    border: 5px solid rgba(255, 255, 255, 0.2); 
    border-top-color: #ffffff; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    text-align: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
